.container{
    width: 20%;
    margin: 5% 35% 0%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 3% 20%; 
}

label{
    margin: 3% 5%; 
}

#btn{
    padding: 10px 100px;
    margin: 0% 10%;
}

#error{
    font-size: 24px;
    text-align: center;
    background-color: #990000;
    color: white;
}

#output{
    font-size: 24px;
    text-align: center;
    margin: 1% 5%;
}











